nav { 
    .app-title { float: left; margin: 0; width: 5%;}

    ul { text-align: right; 
    li {
        img {
            background: #fff;
            width: 10%;
            padding: 10px;
            border-radius: 10px;
        }
    }}

    i { cursor: pointer; font-size: 1.25em; }
}

